.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
  background-color: #1f1f1f;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: -210px;
  animation: rotation 20s infinite linear;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
  width: 60%;
  position: relative;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  width: 60%;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

