.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  background-image: url('../../../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}

.feynman__title {
  margin: 100px auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}
