.resources__logo {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.resources__link:nth-of-type(1) .resources__logo {
  background-image: url('../../../images/logo/resources-arzamas.svg');
}

.resources__link:nth-of-type(2) .resources__logo {
  background-image: url('../../../images/logo/resources-n1.svg');
}

.resources__link:nth-of-type(3) .resources__logo {
  background-image: url('../../../images/logo/resources-strelka.svg');
}

.resources__link:nth-of-type(4) .resources__logo {
  background-image: url('../../../images/logo/resources-polka.svg');
}
