.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* header */
.header {
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}
.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  margin: auto 0;
  width: 730px;
  position: relative;
  left: 64px;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  object-fit: cover;
}
.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 0;
}
 /* descriprion*/
.description {
  margin-top: 100px;
  display: flex;
}
.two-columns {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.two-columns__paragraph {
  min-width: 784px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
 /*digits*/
.digits {
  display: flex;
  flex-direction: column;
  margin: 100px 0px;
}
.section-title {
  width: 60%;
  margin: auto auto 20px auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-subtitle {
  margin:auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  margin: auto;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*feynman*/
.feynman {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}
.feynman__title {
  margin: 100px auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
}
.feynman__subtitle {
  margin: 0 auto auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}
/*kaufman*/
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0;
  background-color: #1f1f1f;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  color: white;
  z-index: 1;
  width: 60%;
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  width: 60%;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: -250px;
}
 /*footer*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}
.footer__columns {
  width: 90%;
  margin: 80px auto 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__columns_content_copyright {
  flex-basis: 711px;
  position: relative;
}
.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  margin: 18px 0;
}
.logo_place_footer {
  position: relative;
  top: 0;
  left: 0;
}
.footer__columns_header {
 margin-top: 0;
 line-height: 30px;
 font-size: 18px;
 font-weight: 600;
 color: white;
}
.footer__column_links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}
.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}


